.main_class {
  display: flex;
}
.main_class_count {
  display: flex;
}
.text_area {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main_head {
  font-size: 8.2rem !important;
  color: #fff;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important;
}
.stay {
  color: #c4ae83;
}
.sub_head {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  line-height: 28px !important;
  color: #ffffff;
}
.explore_btn {
  width: 214px;
  height: 64px;
  background: #c4ae83;
  box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259),
    0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407),
    0px 20px 13px rgba(24, 167, 185, 0.05),
    0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593),
    0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741);
  border-radius: 40px 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.contact_btn {
  background-color: var(--color-bg);
  border: 1px solid #c4ae83;
  width: 214px;
  height: 64px;
  filter: drop-shadow(0px 100px 80px rgba(56, 56, 56, 0.1))
    drop-shadow(0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259))
    drop-shadow(0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407))
    drop-shadow(0px 20px 13px rgba(56, 56, 56, 0.05))
    drop-shadow(0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593))
    drop-shadow(0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741));
  border-radius: 40px 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #c4ae83;
}
.photo {
  width: 570px !important;
  height: 574px !important;
  margin-top: -4rem;
}
.number_photo {
  position: absolute;
  z-index: 1;
}
.sub_head2 {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  line-height: 100% !important;
  color: #fff;
  position: absolute;
  z-index: 2;
}
.sub_head3 {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size:1.6rem !important;
  line-height: 130% !important;
  color: #6b6b6b !important;
  position: absolute;
  z-index: 1;
}
.main_class_btn {
  display: flex;
}

@media screen and (max-width: 600px) {
  .main_class {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .main_class_count {
    display: flex;
    gap: -19px !important;
  }
  .photo {
    margin-top: 1rem;
    margin-left: -5rem;
    width: 100% !important;
    height: 100% !important;
    z-index: 4 !important;
  }
  .main_head {
    font-size: 5.2rem !important;
    color: #fff;
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important;
  }
  .sub_head {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.3rem !important;
    display: block !important;
    line-height: 28px !important;
    color:var(--color-text);
  }
  .main_class_btn {
    display: flex;
    flex-wrap: wrap;
  }
  .explore_btn {
    width: 140px;
    height: 50px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
  }
  .contact_btn {
    width: 140px;
    height: 50px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
  }
  .sub_head2 {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    color: #fff;
  }
  .sub_head3 {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 130% !important;
    color: #6b6b6b !important;
  }
  .photo_line_div {
    position: absolute;
  }
  .photo_line {
    height: 500px;
    width: 400px !important;
  }
}

@media screen and (max-width: 380px) {
  .photo_line {
    height: 400px;
    width: 300px !important;
  }
  .main_class_count {
    gap: 30px !important;
  }
}

@media screen and (max-width: 1150px) {
  .main_class {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
