.search {
  margin-top: 25px;
  border: none;
  position: absolute;
  width: 573px;
  height: 50px;
  left: 451px;
  top: 120px;

  /* Light/Base Color/White */

  background: #ffffff;
  border-radius: 4px;
}

.mainPageHeading {
  /* Display/Display Bold */

  letter-spacing: 0.003em;

  /* Light/Text Color/Title */

  color: #11142d;
}

.productOption {
  color: "#9A9AB0" !important;
}
.active {
  color: "#F86338";
}

.findOut {
  display: flex;
  justify-content: center;
  align-items: center;
}
.findOut button {
  background-clip: padding-box;
  background-color: #c4ae83;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  margin-top: 50px;
  min-height: 6rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;

  transition: all 250ms;
  width: 17rem;
  margin-bottom: 120px;
}

.findOut:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.findOut:hover {
  transform: translateY(-4px);
}

.findOut:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
/* .active{
    color:#fb8332
  }
  .act{
    text-decoration: none;
    color:black;
  }
  a:ink:active{
    background-color: #fa6400;
  } */

/* Style the active class, and buttons on mouse-over */
.active {
  color: #c4ae83 !important;
}
